apiVersion: v1
kind: Namespace
metadata:
  name: keycloak
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: keycloak
spec:
  type: LoadBalancer
  selector:
    app: keycloak
  ports:
    - name: https
      port: 8443
      targetPort: 8443
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:26.4.7
          args:
            - start-dev
          env:
            # Admin bootstrap
            - name: KC_BOOTSTRAP_ADMIN_USERNAME
              value: admin
            - name: KC_BOOTSTRAP_ADMIN_PASSWORD
              value: admin

            # HTTPS only
            - name: KC_HTTP_ENABLED
              value: "false"
            - name: KC_HTTPS_PORT
              value: "8443"

            # TLS
            - name: KC_HTTPS_CERTIFICATE_FILE
              value: /etc/keycloak/certs/tls.crt
            - name: KC_HTTPS_CERTIFICATE_KEY_FILE
              value: /etc/keycloak/certs/tls.key

            # Hostname
            - name: KC_HOSTNAME
              value: keycloak.local
            - name: KC_HOSTNAME_STRICT
              value: "false"

            # Proxy mode
            - name: KC_PROXY
              value: edge

            # Health (utile pour debug)
            - name: KC_HEALTH_ENABLED
              value: "true"

          ports:
            - name: https
              containerPort: 8443
              protocol: TCP

          volumeMounts:
            - name: tls-certs
              mountPath: /etc/keycloak/certs
              readOnly: true

      volumes:
        - name: tls-certs
          secret:
            secretName: keycloak-tls
